# .env
PROJECT_NAME="Artha Sutra API"
ENVIRONMENT="development"

# APIs
TAVILY_API_KEY="tvly-..."
OPENAI_API_KEY="sk-..."
KITE_API_KEY="..."
KITE_API_SECRET="..."

# Databases
MONGODB_URI="mongodb://localhost:27017"
QDRANT_URL="http://localhost:6333"
